# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
rrc/dist
rrc/tmp
rrc/out-tsc

# dependencies
rrc/node_modules

# IDEs and editors
rrc/.idea
rrc/.project
rrc/.classpath
rrc/.c9/
rrc/*.launch
rrc/.settings/
rrc/*.sublime-workspace

# IDE - VSCode
rrc/.vscode/*
!rrc/.vscode/settings.json
!rrc/.vscode/tasks.json
!rrc/.vscode/launch.json
!rrc/.vscode/extensions.json

# misc
rrc/.sass-cache
rrc/connect.lock
rrc/coverage
rrc/libpeerconnection.log
rrc/npm-debug.log
rrc/testem.log
rrc/typings

# e2e
rrc/e2e/*.js
rrc/e2e/*.map

# System Files
rrc/.DS_Store
rrc/Thumbs.db
