@import url('https://fonts.googleapis.com/css?family=Prata|Work+Sans');
body, .content-wrap{
    background-color: #eee;
}
a, p h1, h2, h3, a:hover, a:active, a:visited{
    color: #333;
    text-decoration: none;
}
a, p{
    font-family: 'Work Sans', sans-serif;
}
h1, h2, h3{
    font-family: 'Prata', serif;
}
#task{
    margin: 20px auto;
    width: 100%;
}
.abs-center{
    position: absolute;
    top:50%; left: 50%;
    transform: translate(-50%, -50%);
}
header{ 
    text-align: center;
}
.main{
    margin: 20px auto;
    text-align: center;
}
.button{
}
.button *{
    display: inline-block;
    margin: 20px;
    padding: 16px;
    padding-right: 30px;
    transition: .3s;
    border-radius: 2px;
    box-shadow: 0px 2px 5px 0px rgba(30, 30, 50, 0.5);
    cursor: pointer;
}
.button *:hover{
    transition: .3s;
    box-shadow: 0px 15px 30px 0px rgba(30, 30, 50, 0.3);
}
.button::after{
    display: table;
    content: "";
    clear: both;
}